@fortawesome:registry=https://npm.fontawesome.com/
//npm.fontawesome.com/:_authToken=9D91411D-C4EC-4FDE-8ED7-6EBB390D5DC3

always-auth=true
//npm.greensock.com/:_authToken=26db889d-5d45-43bf-aac8-7bbfe2ebb458
@gsap:registry=https://npm.greensock.com